RABBITMQ_HOST=your-cloudamqp-host
RABBITMQ_PORT=5672
RABBITMQ_USER=your-cloudamqp-user
RABBITMQ_PASSWORD=your-cloudamqp-password
RABBITMQ_VIRTUAL_HOST=your-cloudamqp-virtual-host
RABBITMQ_EXCHANGE=Web Service
RABBITMQ_QUEUE=web_campaign
RABBITMQ_CONSUMER_NAME=Krabaton

MONGODB_DB=bachelor
MONGODB_HOST=mongodb+srv://user:password@cluster.example.net/?appName=YourApp
